.card-slider {
width: 60vw;
/* border-radius: 1rem; */
padding: 1rem;
box-shadow: 0 0 5px #888888;

}

.slider-item{
    /* padding: 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content !important;
    background-color: greenyellow;
    border: 1px solid rgba(156, 156, 156, 0.637);
    border-radius: 1rem;
}

.slider-item p{
    color: black;
    height: 150px;
    width: 150px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}
